.topnav {
    overflow: hidden;
    background-color:#FFC107;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.topnavcontainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.topnav a, .topnav img {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    height:48px;
    width:48px;
    padding: 0 12px;
}

.searchbar{
    float: left;
    width: 50%;
}

.searchbar input [type=text]{
    height: 30px;
    width: 30%;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.active{
    background-color: #4CAF50;
    color: white;
}

:root{
    --card_width: 250px;
    --card_border_radius: 16px;
    --row_increment: 10px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.container{
    margin: 0;
    padding: 0;
    width: 80vw;
    position: absolute;
    background-color: green;
    left: 50%;
    transform: translateX(-50%);
}

.postform{
    float: right;
}
.pin_container{
    margin: 0;
    padding: 0;
    width: 80vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    background-color: white;
}

.card{
    padding: 0px;
    display: block;
    position: relative;
    margin: 15px 10px;
    overflow: hidden;
    border-radius: var(--card_border_radius);
    background-color: grey;
}

.card img{
    height: 200%;
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}
.card_small{
    grid-row-end: span var(--card_small);
}

.card_medium{
    grid-row-end: span var(--card_medium);
}

.card_large{
    grid-row-end: span var(--card_large);
}

.wrapper {
    width: 944px;
    height: 617px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px;
    box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.75),
            0px 5px 5px -5px rgba(0, 0, 0, 0.75),
            -5px 0px 5px -5px rgba(0, 0, 0, 0.75),
            5px 0px 5px -5px rgba(0, 0, 0, 0.75),
            0px 5px 5px -5px rgba(0, 0, 0, 0.75);
    margin-top: 50px;
}

.photodiv{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 30%;
        margin-left: 32px;
}

.location{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.01em;
        margin-top: 16px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #000000;
}

.locationicon{
        display: inline-block;
        vertical-align: top;
}

.image-container {
    width: 100%;
    height: 442px;
    margin-top: 10px;
    position: relative;
}

.image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}



.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 11px;
    /* line-height: 1.5em; */
    height: 49px;
    /* 3 lines of text with 1.5em line-height */
    overflow: hidden;
    text-transform: capitalize;
}

.commentdiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55%;
    margin-left: 71px;
    margin-right: 51px;
}

.profile-pic-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* This creates the circular shape */
    overflow: hidden;
    /* This hides any part of the image that exceeds the circular shape */
}

.profile-pic-container img {
    width: 100%;
    /* This ensures the image fills the container */
    height: 100%;
    /* This ensures the image fills the container */
    object-fit: cover;
    /* This scales the image to cover the entire container */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}